# Node / PNPM
node_modules/
.pnp/
.pnpm-debug.log*
pnpm-workspace.yaml
pnpm-lock.yaml

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
npm-debug.log*
lerna-debug.log*

#Build / dist
dist/
build/
out/
*.tsbuildinfo
dist-ssr
*.local
env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
